<% content_for :title, "Fiction Workshop" %>

    <div class="search-bg">
	<%= image_tag("type-writer.jpg", :class=>"bg") %>
      <div class="container search-content">
        <div class="row">
          <div class="col-12">
            <h1 class="center">Where Creative Minds Can Meet</h1>
            <p class="center subheading">The Fiction Network connects you, the author, with the people who will help you succeed.</p>
            <div class="search-form">
                <%= form_tag(users_path, :method => "get") do %>
                <div class="row">
                  <div class="col-4 center">
                    <p>What are you looking for?</p>
                    <div class="service-fields fields">
                      <input type="radio" name="service" value="read" checked> A Beta Reader<br>
                      <input type="radio" name="service" value="edit"> An Editor<br>
                      <input type="radio" name="service" value="writer"> A Writer
                    </div>
                  </div>
                  <div class="col-4 center">
                    <p>What's your style?</p>
                    <div class="genre-fields fields">
                      <input type="checkbox" name="genre" value="Fantasy"> Fantasy<br>
                      <input type="checkbox" name="genre" value="Romance"> Romance<br>
                      <input type="checkbox" name="genre" value="Horror"> Horror<br>
                      <input type="checkbox" name="genre" value="Comedy"> Comedy<br>
                      <input type="checkbox" name="genre" value="Crime"> Crime
                    </div>
                  </div>
                  <div class="col-4 center">
                    <p>Length of Work</p>
                    <div class="length-fields fields">
                      <input type="radio" name="length" value="short" checked> 1,000 - 20,000 words<br>
                      <input type="radio" name="length" value="medium"> 20,000 - 40,000 words<br>
                      <input type="radio" name="length" value="long"> 40,000 - 60,000 words<br>
                      <input type="radio" name="length" value="longest"> 60,000+ words
                    </div>
                  </div>
                </div>

                <p class="center"><%= submit_tag "Search", class: "submit" %></p>
                
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="how-works" id="how-works">
      <div class="container">
        <div class="row">
          <div class="col-4 process">
            <div class="center">
              <i class="fa fa-search"></i>
              <h2 class="center">Search</h2>
              <p class="center">Browse editor and beta reader profiles until you find the perfect fit for your manuscript.</p>
            </div>
          </div>
          <div class="col-4 process">
            <div class="center">
              <i class="fa fa-comments"></i>
              <h2 class="center">Connect</h2>
              <p class="center">Make contact with the user who best fits your needs, and iron out the details.</p>
            </div>
          </div>
          <div class="col-4 process">
            <div class="center">
              <i class="fa fa-book"></i>
              <h2 class="center">Work</h2>
              <p class="center">With the service arranged, you are free to start working with your user of choice.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
