/* Colors */
$purple: #24214a;
$orange: #f3544f;
/* Fonts */
$sans: 'Montserrat', sans-serif;
$serif: 'Slabo 27px', serif;
/* Bgein General column layout styles */
.container {
    max-width: 1170px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.row {
    width: 100%;
    display: block;
    &:after,
    &:before {
        content: " ";
        /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
.clearfix {
    &:after,
    &:before {
        content: " ";
        /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
}
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
    position: relative;
    min-height: 1px;
}
.col-1 {
    width: 8.33333%;
}
.col-2 {
    width: 16.666667;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333%;
}
.col-11 {
    width: 91.6666667%;
}
.col-12 {
    width: 100%;
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}
.hidden {
    display: none!important;
}
.visible {
    display: block!important;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.left {
  float: left;
}
.right {
  float: right;
}
@media(max-width: 767px) {
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9 {
        clear: both;
        width: 100%;
    }
    nav {
        .col-1,
        .col-10,
        .col-11,
        .col-12,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9 {
            clear: none;
        }
        .col-1 {
            width: 8.33333%;
        }
        .col-2 {
            width: 16.666667;
        }
        .col-3 {
            width: 25%;
        }
        .col-4 {
            width: 33.333333%;
        }
        .col-5 {
            width: 41.666667%;
        }
        .col-6 {
            width: 50%;
        }
        .col-7 {
            width: 58.333333%;
        }
        .col-8 {
            width: 66.666667%;
        }
        .col-9 {
            width: 75%;
        }
        .col-10 {
            width: 83.33333%;
        }
        .col-11 {
            width: 91.6666667%;
        }
        .col-12 {
            width: 100%;
        }
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile-left {
      float: left;
      clear: none;
    }
    .mobile-right {
      float: right;
    }
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
/* Typography */
body {
    font-family: $serif;
    font-size: 17px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans;
}
h1 {
  font-size: 36px;
  line-height: 36px;
}
h2 {
  font-size: 32px;
  line-height: 32px;
}
h3 {
  font-size: 28px;
  line-height: 28px;
}
h4 {
  font-size: 24px;
  line-height: 24px;
}
h5 {
  font-size: 20px;
  line-height: 20px;
}
h6 {
  font-size: 16px;
  line-height: 16px;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
}
.center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.small {
    font-size: 12px;
}
/* Button styles */
$btnWidth: 300px;
.btn {
    display: block;
    background-color: $purple;
    color: #fff;
    width: auto;
    border-radius: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: $sans;
    font-size: 14px;
    border: 1px solid transparent;
    transition: 0.2s linear;
    text-align: center;
    max-width: $btnWidth;
    margin: 0 auto;
    &:visited {
        color: #fff;
    }
    &:hover {
        background-color: transparent;
        border-color: $purple;
        color: $purple;
    }
}
.btn-bright {
    display: block;
    background-color: $orange;
    color: #fff;
    width: auto;
    border-radius: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: $sans;
    font-size: 14px;
    border: 1px solid transparent;
    transition: 0.2s linear;
    text-align: center;
    max-width: $btnWidth;
    margin: 0 auto;
    &:visited {
        color: #fff;
    }
    &:hover {
        background-color: transparent;
        border-color: $orange;
        color: $orange!important;
    }
}
/* Navbar Styles */
.nav-bg {
    width: 100%;
    background-color: #fff;
    border-bottom: 5px solid $purple;
    margin-top: 0;
    nav {
        width: 100%;
        ul {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
            list-style-type: none;
            margin-top: 10px;
            li {
                text-align: center;
                display: block;
                float: left;
                margin-left: 25px;
                & a {
                    display: block;
                }
            }
            .logo {
                margin-top: 0;
                width: auto;
                margin-top: 4px;
                max-width: 180px;
                margin-bottom: 10px;
                margin-left: 0;
            }
            .logo-mobile {
                display: none;
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: 0;
                width: auto;
                max-width: 100px;
            }
        }
        .hamburger {
            position: relative;
            & > div {
                float: right;
                a {
                    color: $purple;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        color: lighten($purple, 20%);
                    }
                }
                i {
                    margin-top: 10px;
                    font-size: 50px;
                }
            }
            .user-controls {
                position: absolute;
                top: 100%;
                right: 0;
                background-color: $purple;
                z-index: 999;
                display: none;
                width: 230px;
                margin-top: 10px;
                border: 1px solid #fff;
                li {
                    display: block;
                    float: none;
                    margin: 0;
                    a {
                        color: #fff;
                        text-align: center;
                        transition: 0.3s ease-in-out;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        font-family: $sans;
                        text-transform: uppercase;
                        &:hover {
                            background-color: #fff;
                            color: $purple;
                        }
                    }
                }
            }
        }
        .user-controls {
            list-style-type: none;
            margin: 10px 0 0;
            padding: 0;
            li {
                float: right;
                text-align: right;
                margin-left: 25px;
                margin-bottom: 5px;
            }
        }
    }
}
/* Home Page Template Styles */
.search-bg {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    overflow: hidden;
    position: relative;
    background-color: $purple;
    img.bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.5;
        -webkit-filter: saturate(0.3) brightness(0.5);
        filter: saturate(0.3) brightness(0.5);
    }
    .search-content {
        position: relative;
        z-index: 2;
    }
    h1 {
        font-size: 50px;
        margin-top: 0;
    }
    p.subheading {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 18px;
    }
    .search-form {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        background-color: #fff;
        color: #000;
        margin-top: 30px;
        padding: 10px 20px;
        .fields {
            text-align: left;
            width: auto;
            margin: 0 auto;
            display: inline-block;
            clear: both;
        }
        .service-fields {
            input {
                margin-bottom: 25px;
            }
        }
        .length-fields {
            input {
                margin-bottom: 15px;
            }
        }
        .submit {
            background-color: $orange;
            color: #fff;
            font-family: $sans;
            text-transform: uppercase;
            padding: 10px 30px;
            border: none;
        }
    }
}
.how-works {
    padding-top: 50px;
    .fa {
        font-size: 80px;
        color: $orange;
    }
    .process {
        margin-bottom: 30px;
    }
}
footer {
    margin-top: 60px;
    padding: 10px 10px 40px;
    border-top: 5px solid $purple;
    p {
        margin-top: 15px;
    }
    .social {
        ul {
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                width: 50px;
                text-align: center;
                a {
                    -webkit-transition: 0.4s ease-in-out;
                    transition: 0.4s ease-in-out;
                }
                a:hover {
                    -webkit-filter: brightness(1.5);
                    filter: brightness(1.5);
                }
                &#pinterest {
                    a:active,
                    a:hover,
                    a:link,
                    a:visited {
                        color: #bd081c;
                        font-size: 40px;
                    }
                }
                &#facebook {
                    a:active,
                    a:hover,
                    a:link,
                    a:visited {
                        color: #3b5998;
                        font-size: 40px;
                    }
                }
                &#email {
                    a:active,
                    a:hover,
                    a:link,
                    a:visited {
                        color: #4183c4;
                        font-size: 40px;
                    }
                }
            }
        }
    }
}
/* Log-in pages styles */
.log-in-bg {
    background-color: $purple;
    padding-top: 60px;
    padding-bottom: 80px;
    margin-bottom: -60px;
    h1 {
        margin-top: 20px;
        margin-bottom: 40px;
        color: $purple;
        &.white {
            color: #fff;
        }
    }
    .form-bg {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        padding: 15px 40px 25px;
        background-color: #fff;
        position: relative;
        z-index: 1;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
        .form-container {
            transform: rotateZ(-4deg);
        }
        &:before {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            z-index: -1;
            transform: rotateZ(-4deg);
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
        }
        &:after {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            z-index: -2;
            transform: rotateZ(3deg);
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
        }
        .btn {
            text-align: center;
            margin-top: 20px;
        }
        .facebook {
            background-color: #3b5998;
            &:hover {
                color: #fff;
                border-color: #3b5998;
            }
        }
        .google {
            background-color: $orange;
            &:hover {
                color: #fff;
                border-color: $orange;
            }
        }
        form {
            input {
                width: 100%;
                padding-left: 10px;
                margin-left: -10px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 10px;
                outline: none;
                box-shadow: 0 0 10px 1px transparent;
                transition: 0.2s ease-in-out;
                &:focus {
                    box-shadow: 0 0 10px 1px $purple;
                }
            }
            .submit {
                width: auto;
                display: block;
                margin: 0 auto;
                padding: 10px 30px;
                background-color: $orange;
                color: #fff;
                font-family: $sans;
                text-transform: uppercase;
                border: 1px solid transparent;
                &:hover {
                    border-color: $orange;
                    color: $orange;
                    background-color: transparent;
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
    .paper {
        padding: 20px;
        .form-container {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.5);
            display: block;
            padding: 20px;
            h2 {
                font-size: 20px;
            }
        }
        &.left-paper {
            input {
                width: 100%;
                box-sizing: border-box;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 10px;
                margin-bottom: 20px;
                outline: none;
                box-shadow: 0 0 10px 1px transparent;
                transition: 0.2s ease-in-out;
                &:focus {
                    box-shadow: 0 0 10px 1px $purple;
                }
            }
        }
        &.middle-paper {
            .form-control {
                width: 100%;
                box-sizing: border-box;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 10px;
                margin-top: 5px;
                outline: none;
                box-shadow: 0 0 10px 1px transparent;
                transition: 0.2s ease-in-out;
                &:focus {
                    box-shadow: 0 0 10px 1px $purple;
                }
            }
        }
        &.right-paper {
            .submit {
                background-color: $orange;
                color: #fff;
                border: 1px solid transparent;
                padding: 10px 20px;
                display: block;
                margin: 15px auto 0;
                text-transform: uppercase;
                font-family: $sans;
                transition: 0.2s linear;
                border-radius: 10px;
                &:hover {
                    background-color: transparent;
                    color: $orange;
                    border-color: $orange;
                }
            }
        }
    }
}
footer.login {
    margin-top: 0;
}
.search-results {
    margin-top: 50px;
    .results {
        width: 70%;
        float: left;
        box-sizing: border-box;
        padding-right: 15px;
        .person {
            border-bottom: 1px solid $purple;
            padding-bottom: 10px;
            margin-bottom: 30px;
            .profile {
                border-radius: 50%;
                width: 100%;
                max-width: 150px;
                display: block;
                margin: 0 auto;
            }
            h2 {
                margin-top: 0;
                margin-bottom: 0;
            }
            h3 {
                font-size: 16px;
            }
            p.bold {
                margin-top: 0;
                margin-bottom: 0;
            }
            ul {
                list-style-type: none;
                margin-left: -40px;
            }
            .btn,
            .btn-bright {
                text-align: center;
            }
            .btn {
                margin-bottom: 10px;
            }
        }
    }
    .sidebar-search {
        width: 30%;
        float: right;
        min-height: 500px;
        box-sizing: border-box;
        padding-left: 15px;
        .criteria {
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
        .submit {
            margin: 0 auto;
        }
    }
}
/* USER PROFILE PAGE STYLES */
.user-profile {
    .user-info {
        padding-bottom: 30px;
        .profile-picture {
            border-radius: 50%;
            display: block;
            margin: 20px auto;
        }
        .description {
            margin-bottom: 30px;
        }
    }
    .recent-works {
        margin-bottom: 30px;
        .work {
            p {
                margin-bottom: 40px;
            }
        }
    }
    .reviews {
        .review {
          margin-bottom: 40px;
            .profile-picture {
                max-width: 150px;
                border-radius: 50%;
                margin: 0 auto;
                display: block;
            }
        }
    }
}
/* MEDIA QUERIES */
@media(max-width: 991px) {
    .nav-bg nav ul {
        .logo {
            display: none;
        }
        .logo-mobile {
            display: block;
        }
    }
    .search-bg {
        .bg {
            display: none;
        }
    }
    .nav-bg nav ul li a {
        margin-top: 4px;
    }
    .search-results {
        .sidebar-search {
            float: none;
            width: 100%;
            .criteria {
                float: left;
                width: 33.33%;
            }
        }
        .results {
            width: 100%;
            clear: both;
            float: none;
        }
    }
}
@media(max-width: 767px) {
    .search-bg {
        h1 {
            font-size: 30px;
        }
        .bg {
            display: none;
        }
        .search-form {
            max-width: 205px;
        }
    }
    .nav-bg nav ul li a {
        margin-top: 0;
    }
    .person .mobile-left {
      max-width: 50%;
    }
}
@media(max-width: 400px) {
    .search-bg {
        h1 {
            font-size: 25px;
        }
    }
}
